
            {{if not .IsHome}}
              <div class="mb-4">
                <nav aria-label="breadcrumb">
                  <ol class="flex items-center space-x-2 text-sm text-gray-600">
                    {{ template "breadcrumbleaf" dict "page" . "value" .LinkTitle }}
                  </ol>
                </nav>
              </div>
            {{end}}

{{define "breadcrumb"}}
  {{ if .page.Parent}}
    {{$value := (printf "<li class='flex items-center'><a href='%s' class='text-blue-600 hover:text-blue-800 transition-colors duration-150'>%s</a><svg class='mx-2 h-4 w-4 text-gray-400' fill='currentColor' viewBox='0 0 20 20'><path fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd' /></svg></li> %s" .page.Parent.RelPermalink .page.Parent.LinkTitle .value)}}
    {{ template "breadcrumb" dict "page" .page.Parent "value" $value }} 
    {{ else }}
   {{.value|safeHTML}}
  {{end}}
{{end}}

{{define "breadcrumbleaf"}}
  {{ if .page.Parent}}
    {{$value := (printf "<li class='flex items-center'><a href='%s' class='text-blue-600 hover:text-blue-800 transition-colors duration-150'>%s</a><svg class='mx-2 h-4 w-4 text-gray-400' fill='currentColor' viewBox='0 0 20 20'><path fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd' /></svg></li><li class='text-gray-900 font-medium'>%s</li>" .page.Parent.RelPermalink .page.Parent.LinkTitle .value)}}
    {{ template "breadcrumb" dict "page" .page.Parent "value" $value }} 
    {{ else  }}
   {{.value|safeHTML}}
  {{end}}
{{end}}
