<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
{{ partial "headstandard.html" . }}
<body class="bg-gray-50" data-url="{{ .RelPermalink }}">
  {{ partial "navbar.html" . }}
  <aside>
    {{ partial "menuaccordion-simple.html" . }}
  </aside>
  <main>
    {{ partial "carousel.html" . }}
    {{ partial "modelsfrontpage.html" . }}
    {{ partial "technologyfrontpage.html" . }}
    {{ partial "secondrowarticles.html" . }}
  </main>
  <footer class="container bg-gray-900">          
    {{ partial "footercontent.html" . }}
  </footer>
</body>
</html>