<div class="container p-3 mb-5 bg-body-tertiary rounded border">
<h3>Utforsk hjemmekino</h3>
<p>Finn guider og tips for alle deler av hjemmekinoen.</p>

<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/nybegynner/`}}{{.RelPermalink}}{{end}}">
            Nybegynner
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/guide/`}}{{.RelPermalink}}{{end}}">
            Guider
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/tv-og-projektor/`}}{{.RelPermalink}}{{end}}">
            TV & Projektor
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/lyd/`}}{{.RelPermalink}}{{end}}">
            Lyd
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/kilder-og-streaming/`}}{{.RelPermalink}}{{end}}">
            Kilder & Streaming
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/rom-og-akustikk/`}}{{.RelPermalink}}{{end}}">
            Rom & Akustikk
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/kjopsrad/`}}{{.RelPermalink}}{{end}}">
            Kjøpsråd
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/feilsoking/`}}{{.RelPermalink}}{{end}}">
            Feilsøking
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/ordliste/`}}{{.RelPermalink}}{{end}}">
            Ordliste
        </a>
    </li>
</ul>
</div>
